html(lang="js")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300&amp;family=Noto+Sans+JP:wght@100;300;400;700&amp;display=swap" rel="stylesheet")
		link(rel="stylesheet" href="/css/style.scss")
	body
		#header
			v-header

		main#main
			article.p-about
				section.p-about__main
					v-heading2 about
					p Xxxxx Ashley
					p
						| 2th Floor xxxxx Building x-x-x Nishiazabu, Minato-ku, Tokyo 106-0031 Japan
						br
						| tel: 000-0000-0000
						br
						| url: www.xxxxxx.jp
						br
						| mail: xxx@xxxxxx.jp
					p プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


		#footer
			v-footer

		script(type="module" src="/js/main.ts")

