@use './../theme' as *;

.p-index {
	&__mv {
		height: 420px;
		margin-bottom: 87px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__works {
		@include container;

		margin-bottom: 137px;
	}

	&__news {
		@include container;

		margin-bottom: 205px;
	}

	&__link {
		text-align: center;
		margin-top: 54px;

		> a {
			color: $color-font-primary;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
